
.btn-for{
    background-color: #01B9DA !important;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
}
.proj-tech{
    border: 1px solid #01B9DA;
    padding: 10px 12px;
}
.btn-for:hover{
    background-color: transparent !important;
    border: 1px solid #01B9DA;
    color: white;
}
.proj-cont{
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.pcard-text{
    padding-right: 2rem;
    font-size: 0.9rem;
}
.p-images{
    width: 300px;

}
.slick-arrow{
    animation-name: animi;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes animi {
    0%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
.slick-prev, .slick-next {
   top: 15% !important;
}
@media all and (max-width:1024px) {
    .pcard-text{
        font-size: 0.9rem !important;
        padding-right: 0rem !important;
    }
    .proj-tech{
        font-size: 0.7rem;
    }
    .proj-cont{
        margin: 2rem ;
    }
    .pTitle{
        margin: 2rem 0rem !important;
    }

}
@media all and (max-width:576px) {
    .slick-next{
        right: 2px!important;
    }
    .slick-prev{
        left: 2px!important;
    }
}