.projects-main{
    background-color: #fff;
}
.pd-main{
    overflow: hidden;
}
.proj-head{
    margin-top: 5rem;
}
.stky-col{
    background-color: #D7D7D7 !important;
}
.ourProj-heading{
   margin-left: 3rem !important;
}
.op-heading{
    margin-top: 4rem;
}
.slick-prev:before,
.slick-next:before {
   display:none;
}

/* Projects-images sticky */
.sticky_pImages{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
}
.stky-col{
    height: 100vh;
}
.ourP-heading{
    margin-top:5rem ;
}