.services-card{
    height: 34rem;
    margin: 1rem 0rem;
    border-radius: 50px 8px 50px 8px !important;
    background: linear-gradient(to top left, #0083F5, #00BEC3);
    border: none !important;

}
