.footer-sideMenu {
    width: 100% !important;
}
@media all and (min-width: 992px) {
  .footer-sideMenu {
    color: #f4f6fd;
    font-size: 14px;
    width: inherit;
    background: #1B1B1B;
    padding: 5px;
  }
  .footer-sideMenu .copyright {
    text-align: center;
  }
  .p_style_res {
    margin-top: 15px;
  }
  .footer-sideMenu .copyright a {
    text-decoration: none;
    color: #01b9da;
  }
  .footer-sideMenu .copyright a:hover {
    text-decoration: none;
    color: #f4f6fd;
  }
}
@media all and (max-width: 990px) {
    .footer-sideMenu {
        display: none;
    }
  }